<h1>Reboot Instances</h1>
<p>Stand-EN Instance
    <a href="/instance/4">Reboot</a>
</p>
<p>DEV 1 Instance
    <a href="/instance/1">Reboot</a>
</p>
<p>DEV 2 Instance
    <a href="/instance/2">Reboot</a>
</p>
<p>Kamyshev-Ubuntu Instance
    <a href="/instance/3">Reboot</a>
</p>